@import url('https://fonts.googleapis.com/css?family=Play|Satisfy|Raleway|Josefin+Slab&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f1f2e9;
}

.MuiDialogActions-root {
  justify-content: center !important; 
}

*:focus {
  outline: none !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline-block;
  margin: 1rem;
}

.link {
  color: none !important;
}

.link:hover {
  color: none !important; 
}


